<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @solvent.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@solvent.picture_url, :width => 200) if @solvent.picture.present? %>
</p>

<p>
  <strong>Level:</strong>
  <%= @solvent.level %>
</p>

<%= link_to 'Edit', edit_solvent_path(@solvent) %> |
<%= link_to 'Back', solvents_path %>
